<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>Portfolio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/>
    </noscript>
</head>
<body class="is-preload">

{# Sidebar #}
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#about-me" onscroll="">About me</a>
                    <ul>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#experiences">Experiences</a></li>
                        <li><a href="#trainings">Trainings</a></li>
                        <li><a href="#skills">Skills</a></li>
                    </ul>
                </li>
                {#                <li><a href="#experiences">Experiences</a></li>#}
                <li><a href="#my-projects">My Projects</a></li>
                <li><a href="#get-in-touch">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</section>
{# End of Sidebar #}

{# Wrapper #}
<div id="wrapper">
    {# Intro #}
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Welcome</h1>
            <p>We develop a solutions for problems. Designed and developed by <a href="http://www.codezeronepal.com/">Code
                Zero Pvt. Ltd.</a><br/> and products are released for free use.</p>
            <ul class="actions">
                <li><a href="#about-me" class="button scrolly">Learn more</a></li>
            </ul>
        </div>
    </section>
    {# End of Intro #}

    {# About Me #}
    <section id="about-me" class="wrapper style2 spotlights">
        <section>
            <a href="" class="image"><img src="{% static 'images/prarup.jpg' %}" alt="profile_image"
                                          data-position="center center"/></a>
            <div class="content">
                <div class="inner">
                    <h2>Prarup Gurung</h2>
                    <h3>Co-Founder, Software Developer</h3>
                    <p>
                        Machine Learning enthusiast with more than 4 years of experience in academic field and more than
                        a year of experience in Software Development field. Currently working as Full-Time Software
                        Developer and Part-Time Lecturer. I believe I am a responsible and hardworking person willing to
                        learn new things and take on a variety of tasks or projects. Adaptable to changing environments
                        and working in a team.
                    </p>
                    <ul class="actions">
                        <li><a href="#education" class="button scrolly">Learn More</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    {# End of About Me #}

    {# Education #}
    <section id="education" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>Education</h2>
            <p>These are places from where I gained theoretical and practical knowledge.</p>
            <div class="features">
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Shree Balmandir Primary School</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Dhaulagiri Boarding School</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Shree Janahit Higher Secondary School</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Prasadi Academy Higher Secondary School</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>National College of Computer Studies (NCCS)</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Central Department of CSIT</h3>
                    <p></p>
                </section>
            </div>
        </div>
    </section>
    {# End of Education #}

    {# Experiences #}
    <section id="experiences" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Experiences</h2>
            <p>These are places where I learned and improved my skills.</p>
            <div class="features">
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>NCCS Software</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>National College of Computer Studies (NCCS)</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Institute of International Management Science (IIMS)</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Code Zero Pvt. Ltd.</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Asian College of Higher Studies (ACHS)</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-school"></span>
                    <h3>Orchid International</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-building"></span>
                    <h3>Paila Nepal</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Treeleaf Technologies</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Software Development House Nepal</h3>
                    <p></p>
                </section>
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Jankari Tech</h3>
                    <p></p>
                </section>
            </div>
        </div>
    </section>
    {# End of Experiences #}

</div>
{# End of Wrapper #}

{# Footer #}
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; 2020
                <script>new Date().getFullYear() > 2020 && document.write("- " + new Date().getFullYear());</script>
                Prarup Gurung All rights reserved.
            </li>
            <li>Design & Developed by <a href="#intro" class="scrolly">Prarup Gurung</a></li>
        </ul>
    </div>
</footer>
{# End of Footer #}

{# Scripts #}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
