<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <title>Portfolio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/>
    </noscript>
</head>
<body class="is-preload">

{# Sidebar #}
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Welcome</a></li>
                <li><a href="#about-me" onscroll="">About me</a>
                    <ul>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#experiences">Experiences</a></li>
                        <li><a href="#trainings">Trainings</a></li>
                        <li><a href="#skills">Skills</a></li>
                    </ul>
                </li>
                {#                <li><a href="#experiences">Experiences</a></li>#}
                <li><a href="#my-projects">My Projects</a></li>
                <li><a href="#get-in-touch">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</section>
{# End of Sidebar #}

{# Wrapper #}
<div id="wrapper">
    {# Intro #}
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Welcome</h1>
            <p>We develop a solutions for problems. Designed and developed by <a href="http://www.codezeronepal.com/">Code
                Zero Pvt. Ltd.</a><br/> and products are released for free use.</p>
            <ul class="actions">
                <li><a href="#about-me" class="button scrolly">Learn more</a></li>
            </ul>
        </div>
    </section>
    {# End of Intro #}
</div>
{# End of Wrapper #}

{# Footer #}
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; 2020
                <script>new Date().getFullYear() > 2020 && document.write("- " + new Date().getFullYear());</script>
                Prarup Gurung All rights reserved.
            </li>
            <li>Design & Developed by <a href="#intro" class="scrolly">Prarup Gurung</a></li>
        </ul>
    </div>
</footer>
{# End of Footer #}

{# Scripts #}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
